{% extends "landing/base.html" %}

{% block content %}
<div class="container mt-5">
    <form method="POST" action="" id="registration-form" novalidate>
        {% csrf_token %}
        <h2 id="register" class="mb-4">Register</h2>

        <!-- Email Field -->
        <div class="mb-3">
            <label for="id_email" class="form-label">Email*</label>
            {{ form.email }}
        </div>

        <!-- Full Name Field -->
        <div class="mb-3">
            <label for="id_full_name" class="form-label">Full Name*</label>
            {{ form.full_name }}
            <div class="text-danger small">
                {% for error in form.full_name.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Phone Number Field -->
        <div class="mb-3">
            <label for="id_phone_number" class="form-label">Phone Number*</label>
            {{ form.phone_number }}
            <div class="text-danger small">
                {% for error in form.phone.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Password Field -->
        <div class="mb-3">
            <label for="id_password1" class="form-label">Password*</label>
            {{ form.password1 }}
            <div class="text-danger small">
                {% for error in form.password1.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Confirm Password Field -->
        <div class="mb-3">
            <label for="id_password2" class="form-label">Confirm Password*</label>
            {{ form.password2 }}
            <div class="text-danger small">
                {% for error in form.password2.errors %}
                <p>{{ error }}</p>
                {% endfor %}
            </div>
        </div>

        <!-- Submit Button -->
        <button type="submit" class="btn btn-primary w-100 submit-form">Register</button>
    </form>
</div>
{% endblock %}
