@import url("https://use.typekit.net/isu1auv.css");

body {
    display: flex;
    flex-direction: column;
    font-family: "bio-sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    height: 100%;
    text-decoration: none;
}

.header {
    display: flex;
    height: 60px;
}

.navbar-nav {
    align-items: center;
}

a {
    text-decoration: none;
    color: rgb(9, 9, 9);
}

.nav-button {
    color: rgb(118, 118, 170);
}

.nav-button:hover {
    color: rgb(44, 44, 132);
}

.logo {
    font-family: "new-spirit", serif;
    font-weight: 700;
    font-style: normal;
    font-size: 40px;
    margin-right: 5%;
    margin-left: 1%;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.search-bar {
    max-width: 25%;
}

.search-results {
    position: absolute;
    background: white;
    max-height: 200px;
    overflow-y: auto;
    z-index: 100;
    width: 25%; 
    box-sizing: border-box; 
    text-align: start;
}

.search-result-item {
    padding: 10px;
    cursor: pointer;
}

.search-result-item:hover {
    background-color: #f0f0f0;
}
.form-control:focus {
    border-color: #888;
    box-shadow: 0 0 0 .25rem rgba(87, 87, 87, 0.25);
}


.resto-img-list {
    width: 300px;
    height: 250px;
    aspect-ratio: 8/5;
    object-fit: cover;
}

.resto-name-list {
    margin-top: 10px;
    font-weight: 400;
    font-size: 24px;
}

.list-card {
    margin: 10px 0 10px 0;
}

.card {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    text-decoration: none;
    background: #f9f9f9;
    padding: 10px;
    border-radius: 8px;
}

.resto-img-list {
    margin-right: 15px;
}

.restaurant-details h2 {
    margin: 0;
}

.cuisine-type,
address {
    margin: 5px 0;
}

.time-slot {
    margin: 2px;
}

.btn-primary, .btn {
    background-color: rgb(149, 166, 202);
    border: rgb(66, 66, 100);
    color: white;
}

.btn-primary:hover, .btn:hover {
    background-color: rgb(133, 133, 133);
    color: white;
}

.btn-secondary {
    background-color: lightgray;
    color: black;
}

.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#guest-selection .btn-secondary {
    background-color: green;
    color: white;
}

#mybookings-table {
    overflow-x: auto;
}

.modal {
    position: fixed;
    z-index: 1050;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(90, 90, 90, 0.5);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.modal-backdrop {
    z-index: 1;
}

.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal .btn {
    margin: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.modal .btn {
    background-color: #5bc0de;
    color: white;
}

.modal .btn-danger {
    background-color: #d9534f;
    color: white;
}

#cancel-delete {
    background-color: #aaa;
}

#booking-form {
    padding: 13px;
}

#small-center {
    justify-self: center;
}

/* Form */

form {
    max-width: 400px;
    margin: 40px auto;
    background: #ffffff;
    padding: 20px;
    border: 1px solid #e3e3e3;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}


form input[type="text"]:focus,
form input[type="password"]:focus,
form input[type="email"]:focus {
    border: 1px solid #ccc;
    box-shadow: 0 0 0.25rem rgba(161, 161, 161, 0.25);
}
form .btn {
    width: 100%;
    padding: 10px;
    background-color: rgb(149, 166, 202);
    border: rgb(66, 66, 100);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

form .btn:hover {
    background-color: rgb(114, 140, 196);
}

form .errorlist {
    margin-bottom: 10px;
    color: #d9534f;
    font-weight: bold;
}

form .errorlist li {
    font-size: 14px;
}

form .success-message {
    color: #28a745;
    font-weight: bold;
}

form .field-container {
    margin-bottom: 20px;
}

form .helptext {
    display: none;
}

/* @media screen and (max-width: 769px) {
    
} */

@media screen and (min-width: 576px) {
    .search-bar {
        width: 100%;
        margin: 0;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;
    }

    .NavBar {
        width: 100%;
        margin-top: 5px;
    }
}

@media screen and (max-width: 426px) {
    .NavItems {
        flex-direction: column;
    }

    .NavItems > li {
        margin-top: 15px;
    }
    #mybookings-table {
        display: list-item;
        vertical-align: middle;
    }

    td {
        vertical-align: middle;
    }

    .delete-booking-button,
    #modify-button {
        margin: 5px;
    }

    .restaurant-list{
        overflow-x: scroll;
    }

    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;

    }
}

@media screen and (max-width: 321px) {
    .resto-img-list{
        max-width: 250px;
        padding-bottom: 5px;
    }

    .search-bar{
        max-width: 115px;
    }
}