
a {
    text-decoration: none;
    color: black;
}

img {
    width: 400px;
    height: 250px;
    aspect-ratio: 8/5;
    object-fit: cover;
}

.resto-img-details {}

.resto-img-list {
    width: 400px;
}

.list-card {
    margin: 10px 0 10px 0;
}

.logo {
    height: 10px;
    width: 10px;
}